/* html { padding-left: calc(100vw - 100%); } */

html, body {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Roboto', sans-serif;
}

.main-content {
    min-height: 61vh;
}

.container {
    margin: auto;
    padding: 0;
}

@media (min-width: 426px) {
    .App {
        
    }
}

@media (min-width: 1200px) {

        .container {
            width: 1200px;
        }
    
}

@media (min-aspect-ratio: 2/3) and (max-aspect-ratio: 4/5) {
    .main-content {
        min-height: 73vh;
    }
}
